/Sanapuuro/target/
/Sanapuuro/nbproject/private
/Sanapuuro/nbproject/dist
/k2014-ohpe/viikko1-Viikko1_005.SekunnitVuodessa/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_002.HeiMaailma/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_001.Nimi/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_003.Kuusi/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_007.Kertolasku/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_006.Yhteenlasku/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_008.Summaaja/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_009.Jakaja/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_004.Muuttujat/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_010.YmpyranKehanPituus/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_011.SuurempiLuku/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_012.IkienSumma/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_013.RobottiOhjain/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_014.PositiivinenLuku/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_016.ParitonVaiParillinen/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_017.SuurempiLuku/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_015.TaysiIkaisyys/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_019.IanTarkastus/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_021.Karkausvuosi/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_020.Kayttajatunnukset/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_022.Salasana/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_018.ArvosanatJaPisteet/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_024.RobottiOhjainOsa2/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_023.Lampotiloja/nbproject/private/
/k2014-ohpe/viikko1-Viikko1_008.Summaaja/build